﻿@model IEnumerable<MinhaGrana.Models.Despesas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("FiltrarDespesas", "Default", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <label>Data inicio:</label>
                <input type="text" id="DataIni" name="inicio" class="teste" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Data fim:</label>
                <input type="text" id="DataFim" name="fim" class="teste" />
            </div>
        </div>
    </div>
    <p>
        <input type="submit" class="btn btn-success" value="filtrar 1" name="botao1" id="botao1" onclick="filtrar()" />
    </p>

    <p>
        <span id="msg" style="color:red;" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DespesaFixa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DespesaFixa)
            </td>

        </tr>
    }

</table>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>
@*Correção de data*@
<script src="~/Scripts/methods_pt.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#DataIni").datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });
        $("#DataFim").datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });

    });

    function filtrar()
    {
        var dataIni = $('#DataIni').val();
        var dataFim = $('#DataFim').val();
        var url = "/Default/FiltrarDespesas";
        $.post(url, { dataIni: dataIni, dataFim: dataFim}, function (data) {
            $("#msg").html(data);
        });

        //alert(dataIni + " " + dataFim)

        //$.ajax({
        //    url: "/Default/FiltrarDespesas",    
        //    type: "POST",
        //    data: { dataIni: dataIni, dataFim: dataFim},
        //    dataType: "text",
        //    contentType: "application/json; charset=utf-8",
        //    success: function (data) {
        //        alert("certo")

        //    },
        //    error: function () {
        //        alert('error');
        //    }
        //})
    }



</script>
