﻿@model IEnumerable<MinhaGrana.Models.Despesas>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Despesas", FormMethod.Get, new { @class = "form-inline" }))
{
    <input type="date" placeholder="Data Inicial" id="dataIni2" name="dataIni" class="form-control" />
    <input type="date" placeholder="Data Final" id="dataFin2" name="dataFin" class="form-control" />
    <input type="submit" class="btn btn-default" value="Filtrar despesas" name="filtrarDespesas" id="filtrarDespesas" />
}

<hr />

<p>
    @Html.ActionLink("Cadastrar novo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DespesaFixa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DespesaFixa)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>
@*Correção de data*@
<script src="~/Scripts/methods_pt.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $(function () {
        $("#dataIni").datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });
        $("#dataFin").datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR'
        });
    });
</script>

<script>
    function filtrar() {
        var dataIni = $('#DataIni').val();
        var dataFim = $('#DataFim').val();
        var url = "/Default/FiltrarDespesas";
        $.post(url, { dataIni: dataIni, dataFim: dataFim }, function (data) {
            $("#msg").html(data);
        });

        //alert(dataIni + " " + dataFim)

        //$.ajax({
        //    url: "/Default/FiltrarDespesas",
        //    type: "POST",
        //    data: { dataIni: dataIni, dataFim: dataFim},
        //    dataType: "text",
        //    contentType: "application/json; charset=utf-8",
        //    success: function (data) {
        //        alert("certo")

        //    },
        //    error: function () {
        //        alert('error');
        //    }
        //})
    }
</script>